@model SV20T1080029.DomainModels.Category
@{
    ViewBag.Title = "Xóa loại hàng";
}

<div class="box box-danger">
    <div class=" box-body">
        <form action="~/Admin/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên loại hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CategoryName, new {@class="form-control-static"})
                    @Html.ValidationMessageFor(m => m.CategoryName,"" ,new {@style="color:#f00"})
                  @*   <p class="form-control-static">@Model.CategoryName</p> *@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Description, new {@class="form-control-static"})
                    @Html.ValidationMessageFor(m => m.Description,"" ,new {@style="color:#f00"})
                   @*  <p class="form-control-static">@Model.Description</p> *@
                </div>
            </div>

            <button type="submit" class="btn btn-danger">
                <i class="fa fa-fw fa-times"></i>
                Xóa dữ liệu
            </button>

            <button type="submit" class="btn text-danger">
                <a href="~/Admin/Category">
                    <i class="fa fa-fw fa-arrow-left"></i>
                    Quay lại
                </a>
            </button>
            
        </form>
    </div>
</div>