@model IEnumerable<SV20T1080029.DomainModels.OrderDetail>;
@using SV20T1080029.BusinessLayers;
@using SV20T1080029.Web
@using SV20T1080029.DomainModels

@{
    int stt = 0;
    decimal sumTotal = 0;
    ViewBag.Title = "Lập đơn hàng";
    string errorMessage = ViewBag.ErrorMessage.ToString();
}
<div class="box box-primary">
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Lỗi!</strong> @errorMessage
        </div>
    }
    <div class="box-header">
    </div>
    <div class="box-body">
        <div class="col-md-4">
            <form id="formSearchInput" action="~/Admin/Order/SearchProducts" method="get">
               

                <div class="input-group">
                    <input type="text" name="searchValue"
                           class="form-control"
                           placeholder="Nhập tên mặt hàng cần tìm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <div id="searchResult1"></div>
        </div>



        <div class="col-md-8">
            <!-- Giỏ hàng -->
            <h4>Danh sách mặt hàng đã chọn</h4>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên hàng</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th style="width:40px"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="7" class="text-center">Giỏ hàng trống</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            stt += 1;
                            sumTotal += item.TotalPrice;

                            <tr>
                                <td class="text-center">@stt</td>
                                <td>@item.ProductName</td>
                                <td class="text-center">@item.Unit</td>
                                <td class="text-center">@item.Quantity</td>
                                <td class="text-right">@string.Format("{0:N}", item.SalePrice)</td>
                                <td class="text-right">@string.Format("{0:N}", item.TotalPrice)</td>
                                <td class="text-right">
                                    <a href="~/Admin/Order/RemoveFromCart/@item.ProductID" class="btn btn-xs btn-danger" onclick="return confirm('Loại mặt hàng [@item.ProductName] khỏi giỏ hàng?')">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng cộng:</th>
                        <th class="text-right">@string.Format("{0:N}", sumTotal)</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div class="text-right">
                <a href="~/Admin/Order/ClearCart" class="btn btn-sm btn-danger" onclick="confirm('Có muốn xóa giỏ hàng không?')">
                    <i class="fa fa-trash"></i> Xóa giỏ hàng
                </a>
            </div>

            <!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
            <form action="~/Admin/Order/Init" method="post">
                <h4>Nhập thông tin về khách hàng và nhân viên phụ trách đơn hàng</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Khách hàng:</label>
                        <select class="form-control" name="customerId">
                            @foreach (var item in SelectListHelper.Customers())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Nhân viên phụ trách:</label>
                        <select class="form-control" name="employeeId">
                            @foreach (var item in SelectListHelper.Employees())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">Lập đơn hàng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                // khi submit form search thì tìm kiếm từ trang 1
                $("#formSearchInput").submit(function (e) {
                    e.preventDefault();
                    doSearch(1);
                    return;
                });
                // khi trang này xong thì tìm kiếm theo trang đang lưu trong model
                doSearch(1);
            });


            function doSearch(page) {
                var url = $("#formSearchInput").prop("action");
                var postData = $("#formSearchInput").serializeArray();
                postData.push({ "name": "page", "value": page });

                $.ajax({
                    url: url,
                    type: "POST",
                    data: postData,
                    error: function () {
                        alert("Your request is not valid:");
                    },
                    success: function (data) {
                        $("#searchResult1").html(data); // Corrected selector
                    }
                });

                return;
            }



        </script>

    }
